/**
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * Normal stying.
 */

@font-face {
    font-family: "LiberationMonoRegular", sans-serif;
    src: url('LiberationMono-Regular-webfont.eot');
    src: url('LiberationMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('LiberationMono-Regular-webfont.woff') format('woff'),
         url('LiberationMono-Regular-webfont.ttf') format('truetype'),
         url('LiberationMono-Regular-webfont.svg#LiberationMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuMonoRegular';
    src: url('UbuntuMono-R-webfont.eot');
    src: url('UbuntuMono-R-webfont.eot?#iefix') format('embedded-opentype'),
         url('UbuntuMono-R-webfont.woff') format('woff'),
         url('UbuntuMono-R-webfont.ttf') format('truetype'),
         url('UbuntuMono-R-webfont.svg#UbuntuMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('SourceSansPro-Regular-webfont.eot');
    src: url('SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('SourceSansPro-Regular-webfont.woff') format('woff'),
         url('SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-weight: normal;
    color: #483318;
    border-top: 3px solid #3A8AD3;
    font-size: 17px;
    line-height: 30px;
    font-family: SourceSansProRegular, Helvetica, sans-serif;
}

.container {
    width: 700px;
    margin: 0 auto;
}

/** Headings **/

h1, h2, h3, h4, h5, h6 {
    font-family: "Futura", sans-serif;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

address {
    display: inline;
    font-style: normal;
}

/** Articles & Sections **/

header {
    margin: 0 0 20px 0;
    font-family: "Futura", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #dddddd;
}

header ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
}

header a,
header a:visited {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
    width: 155px;
    color: #333333;
}

header a:hover {
    text-decoration: none;
    background: #eeeeee;
    color: #3A8AD3;
}

.logo a {
    color: #ffffff !important;
    background-color: #3A8AD3;
    font-weight: 800;
    font-size: 18px;
}

.logo a:hover {
    color: #3A8AD3 !important;
    backgound: #444444;
}

#intro {
    font-size: 26px;
    line-height: 1.2;
    margin: 50px 30px;
}


article > #page-header {
    margin-bottom: 24px;
}

section h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 28px;
    color: #332411;
}

article #page-header h1 {
    margin: 5px 0;
}

section {
    margin-bottom: 18px;
}

article #page-header h1 time {
    line-height: 24px;
    font-size: 14px;
    color: #555;
}

article h2 {
    font-size: 22px;
}

/** Links **/

a {
    color: #3A8AD3;
    text-decoration: none;
}

a:hover {
    color: #3A8AD3;
}

a:visited {
    color: #3A8AD3;
}

/** Lists **/

p + ul {
    margin: 12px 0;
}

/** Misc **/

blockquote {
    color: rgba(72, 51, 24, .6);
    padding: .6em;
}

p + p,
blockquote + p,
.gist {
    margin-top: 18px;
}

code {
    font-family: UbuntuMonoRegular, monospace;
    background-color: rgb(248, 248, 255);
    border: 1px solid rgb(221, 221, 221);
    padding: 2px;
}

pre {
    margin: 8px 0 8px 2em;
    font-size: 14px;
    line-height: 16px;
    margin-left: 2em;
}

/** Homepage **/

#posts {
    font-size: 13px;
}

#posts ul {
    text-indent: 0;
}

#posts ul li:before {
    content: none;
}

#posts ul li {
    margin: 50px 0;
}

#posts h1 {
    margin: 16px 0;
}

#posts time {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    color: #CCCCCC;
    margin: 2px 8px 0 4px;
}

#posts .post-content,
#posts .post-summary {
    font-size: 16px;
}

/* newline at end of .md file always results in an empty p tag */
.link p:last-of-type {
    margin: 0;
}

.gist-highlight {
    border-left: 3ex solid #eee;
    position: relative;
}

.gist-highlight pre {
    counter-reset: linenumbers;
}

.gist-highlight pre div:before {
    color: #aaa;
    content: counter(linenumbers);
    counter-increment: linenumbers;
    left: -3ex;
    position: absolute;
    text-align: right;
    width: 2.5ex;
}

.warning {
    background: rgba(230, 230, 0, .3);
    padding: .2em;
    border: 1px dashed rgb(72, 51, 24);
}

.footer {
    font-size: 80%;
    color: rgb(102, 102, 102);
    border-top: 4px solid;
    margin-top: 2em;
    overflow: hidden;
    width: 100%;
    padding-top: 0.4em;
}

.contact {
    float:left;
    margin-right: 3em;
}

.rss {
    margin-top: 0.4em;
    margin-right: 0.4em;
    float: right;
}

.idl {
    margin-top: 0.4em;
    float: right;
}

.rss img {
    height: 4em;
}

.idl img {
    height: 5em;
    margin-top: -0.5em;
}

.gist .gist-file .gist-data pre {
    line-height: 20px;
}
.gist .gist-file .gist-data .line_numbers span {
    line-height: 20px;
}
