<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/media/style.css">
    <link rel="stylesheet" href="/media/syntax.css">
    <link rel="alternate" type="application/atom+xml"
          href="http://feeds.feedburner.com/additionMod2"
          title="Feed of latest posts">
  </head>
  <body>
  <header>
      <ul class="container">
        <li class="logo"><a href="/">XOR</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/missives">missives</a></li>
        <li><a href="/speaking">speaking</a></li>
      </ul>
  </header>
  <div class="container">

    {{ content }}

    <section class="footer">
      <div class="contact">
        <p>
          Chris Lonnen
          <br />
          Knight Errant at <a href="http://www.mozilla.org">Mozilla</a>
        </p>
      </div>
      <div class="contact">
        <p>
          <a href="http://github.com/Lonnen/">github.com/Lonnen</a>
          <br />
          <a href="http://twitter.com/lonnen/">twitter.com/lonnen</a>
        </p>
      </div>
      <div class="idl">
          <a href="http://internetdefenseleague.org"><img src="http://internetdefenseleague.org/images/badges/final/shield_badge.png" alt="Proud Member of The Internet Defense League" /></a>
      </div>
      <div class="rss">
          <a href="http://feeds.feedburner.com/additionMod2">
            <img src="/media/rss.png" alt="Quality syndication at last!" />
          </a>
      </div>
    </section>
    <script defer src="/media/script.js?x"></script>
  </div>
  </body>
</html>
